#canvas_{
  margin-left: auto;
  width: 600px;
  margin-top: 30px;
  /*margin-right: auto;*/
  float: left;
}
#colorpicker{
  margin-top: 30px;
  margin-bottom:30px; 
  float:left;  
  width: 600px;
  height: 499px;
}
#font{
  margin-top:20px;
}
#font_size{
  float:left;
  width: 50px;
}

#ctx_size{
  margin-bottom:28px; 
}
@import url(https://fonts.googleapis.com/css?family=Open+Sans);
/*body {
  margin: 0;
  padding: 0;
  background-color: #e6e6e6;
}*/
#color-input {
  display: none;
}
#color-label {
  margin-left: 15px;
  position: relative;
  height: 30px;
  width: 50px;
} 
#color-input:checked ~ #color-picker {
  opacity: 1;
}
#color-picker {
  /*position: relative;*/
  top: 0px; 
  left: 70px; 
  background-color: white;
  height: 150px;
  width: 185px;
  border: solid 1px #ccc;
  opacity: 0;
  padding: 5px;
}
canvas:hover {
  cursor: crosshair;
}

#myCanvas{
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
  background-color: white;
}

.row{
  width: 100%;
  text-align: center;
  line-height: 60px;
}

.btn {
  width: 45px;
  height: 45px;
  background: #757575;
  color: white;
  font-size: 0px;
  transition: background 0.3s;
  border-radius: 50%;
  box-shadow: none;
  border: 0;			
}

.word_size{
  width: 45px;
  text-align: center;
}